---
layout: master
---
<div><a href="{{ '/assets/SarrosEnvironmentalCapabilityStatement.pdf' |  url }}" target="_blank">Printable Version</a></div>
<div class="col-lg-8">
    {{ content }}
</div>
<section class="col-lg-4">
    <h2 class="h4 mt-3">Past Performance Highlights</h2>

<dl>
    <dt>GPC JV</dt>
    <dd>Construction Environmental Manager</dd>
    <dd>1 year</dd>

    <dt>McLean</dt>
    <dd>SWPPP/E&S Facility and Compliance Consultant</dd>
    <dd>9 years</dd>

    <dt>VQED</dt>
    <dd>Sr. Geologist, Petroleum Tank Program</dd>
    <dd>9 years</dd>

    <dt>Froehling & Robertson, Inc</dt>
    <dd>Environmental Program Manager (Chesapeake Branch)</dd>
    <dd>3 yrs</dd>

    <dt>Virginia Dept of Transportation</dt>
    <dd>Hazardous Materials Program Manager</dd>
    <dd>8 years</dd>

    <dt>USACE & EPA Subcontractor with McLean Contracting Company</dt>
    <dd>Environmental Contractor Quality Control Manager for a Superfund Construction Contract W91236-11-R-     0020</dd>
    <dd>2.5 years</dd>

    <dt>Nauticus & Battleship Ex-Wisconsin</dt>
    <dd>EPA Compliance Air Monitoring</dd>
    <dd>6 years</dd>
</dl>

    <h2 class="h4">Previous Specific Roles</h2>

    <dl>
        <dt>Construction Environmental Manager</dt>
        <dd>GPC JV – I64 Widening and High Rise Bridge Project</dd>

        <dt>Hazmat Program Manager</dt>
        <dd>VDOT Hampton Roads District</dd>

        <dt>Environmental Contractor Quality Control Manager</dt>
        <dd>McLean Contracting Company / USACE</dd>

        <dt>Environmental Program Manager</dt>
        <dd>Froehling & Robertson, Inc.</dd>

        <dt>Consulting Project Manager</dt>
        <dd>IMS Environmental Services</dd>

        <dt>Senior Geologist</dt>
        <dd>VA Department of Environmental Quality</dd>
    </dl>
</section>
